code.literal {
	color: green !important;
}

a.reference code.literal {
	color: red !important;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
	font-style: none;
	font-size: 75%;
}
	
a.reference em {
	color: red !important;
	font-weight: bold;
}