code.literal {
	color: green !important;
}

a.reference code.literal {
	color: red !important;
}
	
a.reference em {
	color: red !important;
	font-weight: bold !important;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace !important;
	font-style: normal !important;
	box-sizing: border-box;
	font-size: 75% !important;
}